html, body
  {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    height: 100vh;
    margin: 0;
  }

/* Start Header */
.check{
  margin-top: 10%;
}
.check img{
	margin-left: 10px;
}
.search{
  padding: 2em;
  width: 100%;
}
/* end Header */

/* Start Navbar */

nav li a {
  color:#ffffff !important;
}
#submenu {
  color:#ffffff !important;
}
/* end Navbar */



/* Start slider */
#first-slider .main-container {
  padding: 0;
}


#first-slider .slide1 h3, #first-slider .slide2 h3, #first-slider .slide3 h3, #first-slider .slide4 h3{
    color: #fff;
    font-size: 30px;
      text-transform: uppercase;
      font-weight:700;
}

#first-slider .slide1 h4,#first-slider .slide2 h4,#first-slider .slide3 h4,#first-slider .slide4 h4{
    color: #fff;
    font-size: 30px;
      text-transform: uppercase;
      font-weight:700;
}
#first-slider .slide1 .text-left ,#first-slider .slide3 .text-left{
    padding-left: 40px;
}


#first-slider .carousel-indicators {
  bottom: 0;
}
#first-slider .carousel-control.right,
#first-slider .carousel-control.left {
  background-image: none;
}
#first-slider .carousel .item {
  min-height: 425px; 
  height: 100%;
  width:100%;
}

.carousel-inner .item .container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}


#first-slider h3{
  animation-delay: 1s;
}
#first-slider h4 {
  animation-delay: 2s;
}
#first-slider h2 {
  animation-delay: 3s;
}


#first-slider .carousel-control {
    width: 6%;
        text-shadow: none;
}


#first-slider h1 {
  text-align: center;  
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: bold;
}

#first-slider .p {
  padding-top: 125px;
  text-align: center;
}

#first-slider .p a {
  text-decoration: underline;
}
#first-slider .carousel-indicators li {
    width: 14px;
    height: 14px;
    background-color: rgba(255,255,255,.4);
  border:none;
}
#first-slider .carousel-indicators .active{
    width: 16px;
    height: 16px;
    background-color: #fff;
  border:none;
}


.carousel-fade .carousel-inner .item {
  -webkit-transition-property: opacity;
  transition-property: opacity;
}
.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  opacity: 0;
}
.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.carousel-fade .carousel-control {
  z-index: 2;
}

.carousel-control .fa-angle-right, .carousel-control .fa-angle-left {
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
}
.carousel-control .fa-angle-left{
    left: 50%;
    width: 38px;
    height: 38px;
    margin-top: -15px;
    font-size: 30px;
    color: #fff;
    border: 3px solid #ffffff;
    -webkit-border-radius: 23px;
    -moz-border-radius: 23px;
    border-radius: 53px;
}
.carousel-control .fa-angle-right{
    right: 50%;
    width: 38px;
    height: 38px;
    margin-top: -15px;
    font-size: 30px;
    color: #fff;
    border: 3px solid #ffffff;
    -webkit-border-radius: 23px;
    -moz-border-radius: 23px;
    border-radius: 53px;
}
.carousel-control {
    opacity: 1;
    filter: alpha(opacity=100);
}


/********************************/
/*       Slides backgrounds     */
/********************************/
#first-slider .slide1 {
    background-image: url(http://s20.postimg.org/h50tgcuz1/image.jpg);
      background-size: cover;
    background-repeat: no-repeat;
}
#first-slider .slide2 {
  background-image: url(http://s20.postimg.org/uxf8bzlql/image.jpg);
      background-size: cover;
    background-repeat: no-repeat;
}
#first-slider .slide3 {
  background-image: url(http://s20.postimg.org/el56m97f1/image.jpg);
      background-size: cover;
    background-repeat: no-repeat;
}
#first-slider .slide4 {
  background-image: url(http://s20.postimg.org/66pjy66dp/image.jpg);
      background-size: cover;
    background-repeat: no-repeat;
}
/* end slider */



/* start products */
.slider-item{
    border: 1px solid #E1E1E1;
    border-radius: 5px;
    background: #FFF;
}

.slider-item .slider-image {
    margin: 0 auto;
    width: 100%;
    position: relative;
    /*height:15em;
    */ 
}
.slider-item .slider-image .img-responsive{
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}
.slider-item .slider-image .middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.slider-item :hover .img-responsive {
  opacity: 0.3;
}

.slider-item :hover .middle {
  opacity: 1;
}

.text {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

.slider-item .slider-main-detail{
    padding: 10px;
    border-radius: 0 0 5px 5px;
    background-color: #eef0f5 !important;
}

.slider-item .price{
    float: left;
    margin-top: 5px;
}
.slider-item .price h5{
    line-height: 20px;
    margin: 0;
}
.detail-price{
    color: #219FD1;
}
.slider-item .slider-main-detail .rating{
    color: #777;
}
.slider-item .rating{
    float: left;
    font-size: 17px;
    text-align: right;
    line-height: 52px;
    margin-bottom: 10px;
    height: 52px;
}
.slider-item .btn-add{
    width: 50%;
    float: left;
    border-right: 1px solid #E1E1E1;
}
.slider-item .btn-details{
    width: 50%;
    float: left;
}
.controls{
    margin-top: 20px;
}
.btn-info,.btn-info:visited,.btn-info:hover{
	background-color: #21BBD8;
	border-color: #21BBD8;
}
.btn-info{
	margin-left:5px;
}

.AddCart{
	margin: 0px;
	padding:5px;
	border-radius:2px;
	margin-right:10px;
}
.review {
	margin-bottom: 5px;
	padding-top:5px;
}

/* end latest products */

/* start show products */
.btn-product{
	width: 100%;
}
/* end show products */






/* start section  our clients */
 .our-clients{
 	margin-top: 20px;
 	margin-bottom: 20px;
 	background: #EEE;
 	padding-top: 20px;
 	padding-bottom: 20px;
 }
 .our-clients img
 {
 opacity: 0.4;
 margin-top: 20px;
 margin-bottom: 20px;
 }
 .our-clients img:hover{
 	opacity: 1;
 	-webkit-transition:all 0.5s ease-in-out;
 	-moz-transition:all 0.5s ease-in-out;
 	-o-transition:all 0.5s ease-in-out;
   transition:all 0.5s ease-in-out;
 }
/* end section our clients */

/*start login form*/

.login-title
{
    color: #555;
    font-size: 18px;
    font-weight: 400;
    display: block;
}
.profile-img
{
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.need-help
{
    margin-top: 10px;
}
.new-account
{
    display: block;
    margin-top: 10px;
}
input{
    margin-bottom: 30px;
}
/*end login form*/


/* start section our team */
.our_team{
  background-image: url("../images/images (33).jpg");
  background-size: 100% 100%;
  min-height: 300px;
  margin-top: 10px;
}
.our_team .team{
  background: rgba(2, 2, 2, 0.7);
  color: #fff;
  min-height: 400px;
  padding-top: 40px;
  padding-bottom: 40px;
}
.our_team h1{
  margin-bottom: 60px;
}
.our_team .person{
  margin-bottom: 40px;
}
 /* end section our team */











/* start section  our clients */
 .our-clients{
  margin-top: 20px;
  margin-bottom: 20px;
  background: #EEE;
  padding-top: 20px;
  padding-bottom: 20px;
 }
 .our-clients img
 {
 opacity: 0.4;
 margin-top: 20px;
 margin-bottom: 20px;
 }
 .our-clients img:hover{
  opacity: 1;
  -webkit-transition:all 0.5s ease-in-out;
  -moz-transition:all 0.5s ease-in-out;
  -o-transition:all 0.5s ease-in-out;
   transition:all 0.5s ease-in-out;
 }
/* end section our clients */


















/* start section  footer */
.footer{
  background: #111;
  color: #AAA;
  padding-top: 10px;
}
.footer a{
  color: #AAA;
}
.footer a:hover{
  color: #FFF;
}
.footer h3{
  letter-spacing: 1px;
  margin: 30px 0 20px;
}
.footer .three-columns{
  overflow: hidden;
}
.footer .three-columns li{
  width: 33.33333%;
  float: left;
  padding: 5px 0;
}
.footer .social-list {
  overflow: hidden;
  margin: 20px 0 10px;
}
.footer .social-list li{
 float: left;
 margin-right: 3px;
 opacity: 0.7;
 -webkit-transition:all 0.7s ease-in-out;
 -moz-transition:all 0.7s ease-in-out;
 -o-transition:all 0.7s ease-in-out;
  transition:all 0.7s ease-in-out;
}
.footer.social-list li:hover
{
  opacity: 1
}
.footer .img-thumbnail
 {
  background: rgba(0,0,0,0.4);
  border: 1px solid #444;
  margin-bottom: 5px;
}
.footer .copyright
{
background: #333;
color: #AAA;
position: 15px 0;
margin-top: 30px;
font-size: 18px;
padding-top: 10px;
padding-bottom: 10px;
}

/* end section  footer  */





